<ion-header>
    <ion-toolbar>
        <ion-title>info</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text aling-center padding>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate totam officia recusandae aperiam culpa possimus laborum amet voluptate tenetur dolor, quo error beatae illum. Ad voluptatem totam reprehenderit praesentium.
    </ion-text>
</ion-content>