<ion-tabs>
    <ion-tab-bar color="dark" slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="call"></ion-icon>
            <ion-badge color="danger">11</ion-badge>
            <ion-label>Llamadas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="text"></ion-icon>
            <ion-badge color="danger">13</ion-badge>
            <ion-label>Mensajes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="musical-notes"></ion-icon>
            <ion-badge color="danger">15</ion-badge>
            <ion-label>Audio</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>